body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container styles */
.container {
  width: 80%;
  height: 80vh;
  margin: 20px auto;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Content styles */
.content {
  flex: 1;
}

/* Checkbox styles */
.left-section div {
  margin-bottom: 20px;
}

/* Checkbox container styles */
.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/* Right section styles */
.right-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Left section styles */
.left-section {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 150px;
  height:150px;
  margin-bottom: 20px;
}

/* History container styles */
.header {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

/* History item styles */
.history-item {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #0056b3;
}

.main-container {
  display: flex;
  width: 80%;
  margin: 20px auto;
}

/* Navigation styles */
.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navigation button {
  margin: 0 10px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navigation button:hover {
  background-color: #0056b3;
}

.nav-link {
  width: 100px;
}

.table-container {
  margin-top: 20px;
}

.csv-table {
  border-collapse: collapse;
  width: 100%;
}

.csv-table th,
.csv-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.green-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.blue-button {
  background-color: #3568a5;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.rounded-input {
  border-radius: 12px;
  margin: 10px 0;
  padding: 8px;
}

.msg-info {
  color: #3568a5;
}

.msg-error {
  color: #FF0000
}